Repository hypothesis/lms, pull requests merged in 2022-01, with the labels that each got.

#3530 Add front-end support for Blackboard groups launch error states
  lms/static/scripts/frontend_apps/components/LaunchErrorDialog.js
  lms/static/scripts/frontend_apps/components/test/LaunchErrorDialog-test.js
  lms/static/scripts/frontend_apps/errors.js
Labels: Frontend, Blackboard Groups

#3552 LMS CSS 2 of N: Organize CSS into layers and enable preflight (normalize/reset)
  gulpfile.mjs
  lms/static/scripts/frontend_apps/components/BookSelector.js
  lms/static/scripts/frontend_apps/components/ErrorDialogApp.js
  lms/static/scripts/frontend_apps/components/ErrorDisplay.js
  lms/static/scripts/frontend_apps/components/FilePickerApp.js
  lms/static/scripts/frontend_apps/components/LMSGrader.js
  lms/static/scripts/frontend_apps/components/LaunchErrorDialog.js
  lms/static/scripts/frontend_apps/components/OAuth2RedirectErrorApp.js
  lms/static/scripts/ui-playground/components/ErrorComponents.js
  lms/static/styles/_base.scss
  lms/static/styles/_utilities.scss
  lms/static/styles/components/_index.scss
  lms/static/styles/components/_shared.scss
  lms/static/styles/frontend_apps.scss
  lms/static/styles/lms.scss
  lms/static/styles/ui-playground.scss
  lms/static/styles/ui-playground/ui-playground.scss
  tailwind.config.mjs
Labels: Frontend

#3554 Rename tailwind colors related to state to be less ambiguous
  lms/static/scripts/frontend_apps/components/BookSelector.js
  lms/static/scripts/frontend_apps/components/URLPicker.js
  lms/static/scripts/frontend_apps/components/ValidationMessage.js
  tailwind.config.mjs
Labels: Frontend

#3464 Keep Blackboard groups assignments if feature is disabled
  lms/resources/lti_launch.py
  tests/unit/lms/resources/lti_launch_test.py
Labels: stale
