Repository hypothesis/lms, pull requests merged in 2023-02, with the labels that each got.

#4890 Flag auto assigned application instances
  lms/services/organization.py
  tests/unit/lms/services/organization_service_test.py
Labels: Technical enabler

#4892 Make organization id a required param on application instance creation
  lms/services/application_instance.py
  tests/unit/lms/services/application_instance_test.py
Labels: Tech debt

#4947 Add trailing year as a timescale
  lms/data_tasks/report/create_from_scratch/01_functions/01_date_functions.sql
  lms/data_tasks/report/create_from_scratch/04_activity_counts/03_organization_activity/01_create_view.sql
  tests/unit/lms/data_tasks/__init__.py
  tests/unit/lms/data_tasks/report/__init__.py
  tests/unit/lms/data_tasks/report/create_from_scratch/__init__.py
  tests/unit/lms/data_tasks/report/create_from_scratch/test_01_functions/__init__.py
  tests/unit/lms/data_tasks/report/create_from_scratch/test_01_functions/test_01_date_functions.py
Labels: enhancement

#4920 Split out upgrading application instances as a separate activity
  lms/routes.py
  lms/templates/admin/instance.new.html.jinja2
  lms/templates/admin/instance.upgrade.html.jinja2
  lms/templates/admin/registration.html.jinja2
  lms/views/admin/application_instance.py
  tests/unit/lms/views/admin/application_instance_test.py
Labels: Tech debt

#4985 Fix broken application instance routes after refactor
  lms/templates/admin/instance.html.jinja2
  lms/templates/admin/macros.html.jinja2
  lms/templates/admin/organization.html.jinja2
Labels: Bug

#4918 Make application instance name mandatory on create
  lms/services/application_instance.py
  lms/views/admin/application_instance.py
  tests/unit/lms/views/admin/application_instance_test.py
Labels: Tech debt

#4919 Make application instance name mandatory on update
  lms/views/admin/application_instance.py
  tests/unit/lms/views/admin/application_instance_test.py
Labels: Tech debt

#4969 Add DB migration updated and last_launched dates for application instances
  lms/migrations/versions/64fd59a9f4b6_add_updated_last_launched_to_ai.py
Labels: Technical enabler

#5004 Add a server side (postgres) default for application instance create
  lms/migrations/versions/d737e73915b8_add_a_default_to_application_instance_.py
Labels: Bug

#5008 Add explicit height to student select drop-down
  lms/static/scripts/frontend_apps/components/StudentSelector.tsx
Labels: Frontend

#5014 Update shared components in `AuthButton`
  lms/static/scripts/frontend_apps/components/AuthButton.tsx
  lms/static/scripts/frontend_apps/components/test/AuthButton-test.js
  lms/static/scripts/frontend_apps/components/test/AuthorizationModal-test.js
Labels: Frontend

#5015 Update shared components in `BasicLTILaunchApp`; convert to TSX
  lms/static/scripts/frontend_apps/components/BasicLTILaunchApp.tsx
  lms/static/scripts/frontend_apps/components/test/BasicLtiLaunchApp-test.js
Labels: Frontend

#5016 Convert `BookPicker` to TSX
  lms/static/scripts/frontend_apps/components/BookPicker.tsx
Labels: Frontend

#4994 Use a single name for searching for instances which matches the pattern
  lms/routes.py
  lms/templates/admin/base.html.jinja2
  lms/templates/admin/instance.search.html.jinja2
  lms/views/admin/__init__.py
  lms/views/admin/application_instance.py
  tests/unit/lms/views/admin/__init___test.py
  tests/unit/lms/views/admin/application_instance_test.py
Labels: Tech debt, emergent

#5025 Convert `BookSelector` to TSX
  lms/static/scripts/frontend_apps/components/BookSelector.tsx
Labels: Frontend

#5026 Update shared components in `BookSelector`
  lms/static/scripts/frontend_apps/components/BookSelector.tsx
  lms/static/scripts/frontend_apps/components/test/BookSelector-test.js
Labels: Frontend

#5027 Migrate `ContentSelector` to TypeScript
  lms/static/scripts/frontend_apps/components/ContentSelector.tsx
Labels: Frontend

#5029 Migrate ErrorDialogApp to non-deprecated components from the pattern library
  lms/static/scripts/frontend_apps/components/ErrorDialogApp.tsx
Labels: Frontend

#5031 Migrate `GroupConfigSelector` to TypeScript
  lms/static/scripts/frontend_apps/components/GroupConfigSelector.tsx
Labels: Frontend

#5033 Move the application instance admin templates into their own folders
  lms/templates/admin/application_instance/new.html.jinja2
  lms/templates/admin/application_instance/search.html.jinja2
  lms/templates/admin/application_instance/show.html.jinja2
  lms/templates/admin/application_instance/upgrade.html.jinja2
  lms/views/admin/application_instance.py
Labels: Tech debt

#5032 Sort application instance search by last launched / updated
  lms/services/application_instance.py
  tests/unit/lms/services/application_instance_test.py
Labels: enhancement

#5028 Update `ContentSelector` to use non-deprecated components from pattern library
  lms/static/scripts/frontend_apps/components/ContentSelector.tsx
  lms/static/scripts/frontend_apps/components/test/ContentSelector-test.js
  lms/static/styles/components/_FilePickerApp.scss
Labels: Frontend

#5030 Add formatting to dates and URLs in tables and disabled form fields
  lms/templates/admin/macros.html.jinja2
Labels: Tech debt

#5039 Update shared components in `FilePickerApp`
  lms/static/scripts/frontend_apps/components/FilePickerApp.tsx
  lms/static/scripts/frontend_apps/components/test/FilePickerApp-test.js
Labels: Frontend

#5034 Restructure components in toolbar area
  lms/static/scripts/frontend_apps/components/BasicLTILaunchApp.tsx
  lms/static/scripts/frontend_apps/components/GradingControls.tsx
  lms/static/scripts/frontend_apps/components/InstructorToolbar.tsx
  lms/static/scripts/frontend_apps/components/SubmitGradeForm.tsx
  lms/static/scripts/frontend_apps/components/test/BasicLtiLaunchApp-test.js
  lms/static/scripts/frontend_apps/components/test/GradingControls-test.js
  lms/static/scripts/frontend_apps/components/test/InstructorToolbar-test.js
Labels: Frontend

#5042 Fix the relative imports in the templates
  lms/templates/admin/application_instance/new.html.jinja2
  lms/templates/admin/application_instance/search.html.jinja2
  lms/templates/admin/application_instance/show.html.jinja2
  lms/templates/admin/application_instance/upgrade.html.jinja2
Labels: Tech debt, Bug

#5043 `FilePickerApp` design updates, part 1: "Chrome"/layout structure
  gulpfile.mjs
  lms/static/scripts/frontend_apps/components/ContentSelector.tsx
  lms/static/scripts/frontend_apps/components/FilePickerApp.tsx
  lms/static/scripts/frontend_apps/components/GroupConfigSelector.tsx
  lms/templates/file_picker.html.jinja2
Labels: Frontend

#5049 Updated shared components in `URLPicker`
  lms/static/scripts/frontend_apps/components/URLPicker.tsx
  lms/static/scripts/frontend_apps/components/test/URLPicker-test.js
Labels: Frontend

#5050 Display the searched for setting in the application instance table
  lms/templates/admin/application_instance/search.html.jinja2
  lms/templates/admin/macros.html.jinja2
  lms/views/admin/application_instance/search.py
  tests/unit/lms/views/admin/application_instance/search_test.py
Labels: enhancement

#5058 Bump `@hypothesis/frontend-shared` to v5.11.0
  yarn.lock
Labels: Frontend

#5059 Convert `FileList` to TSX
  lms/static/scripts/frontend_apps/components/FileList.tsx
Labels: Frontend

#5069 Migrate ErrorDisplay component to TypeScript
  lms/static/scripts/frontend_apps/components/ErrorDisplay.tsx
Labels: Frontend

#5064 Convert API call helpers to TS, make return type generic
  lms/static/scripts/frontend_apps/components/BasicLTILaunchApp.tsx
  lms/static/scripts/frontend_apps/components/GradingControls.tsx
  lms/static/scripts/frontend_apps/services/client-rpc.js
  lms/static/scripts/frontend_apps/utils/api.ts
Labels: Frontend

#5065 Update shared components in `LMSFilePickerApp`
  lms/static/scripts/frontend_apps/components/LMSFilePicker.tsx
  lms/static/scripts/frontend_apps/components/test/LMSFilePicker-test.js
Labels: Frontend

#5070 Migrate to non-deprecated components in ErrorDisplay
  lms/static/scripts/frontend_apps/components/ErrorDisplay.tsx
  lms/static/scripts/ui-playground/components/ErrorComponents.js
  lms/static/styles/components/_shared.scss
Labels: Frontend

#5078 Add `InstructorToolbar` layout sketches to the local Pattern Library
  lms/static/scripts/ui-playground/components/ToolbarPage.tsx
  lms/static/scripts/ui-playground/index.js
Labels: Frontend

#5079 Add simple `LinkButton` to `Toolbar` for editing assignment
  lms/static/scripts/frontend_apps/components/InstructorToolbar.tsx
Labels: Frontend

#5092 Set caret ranges on a couple of frontend package dependencies
  package.json
  yarn.lock
Labels: Frontend

#5094 Update shared components in `OAuth2RedirectErrorApp`
  lms/static/scripts/frontend_apps/components/OAuth2RedirectErrorApp.tsx
Labels: Frontend

#5085 Refactor `StudentSelector` to behave more like a controlled component
  lms/static/scripts/frontend_apps/components/GradingControls.tsx
  lms/static/scripts/frontend_apps/components/StudentSelector.tsx
  lms/static/scripts/frontend_apps/components/test/GradingControls-test.js
  lms/static/scripts/frontend_apps/components/test/StudentSelector-test.js
Labels: Frontend

#5090 Change the user service to use an internal query builder
  lms/services/user.py
Labels: Technical enabler

#5093 Update shared components in `FileList`
  lms/static/scripts/frontend_apps/components/FileList.tsx
  lms/static/scripts/frontend_apps/components/test/FileList-test.js
Labels: Frontend

#5109 Add prettier plugin to sort imports in a consistent way
  .prettierrc
  lms/static/scripts/bootstrap.js
  lms/static/scripts/frontend_apps/api-types.ts
  lms/static/scripts/frontend_apps/components/BasicLTILaunchApp.tsx
  lms/static/scripts/frontend_apps/components/BookPicker.tsx
  lms/static/scripts/frontend_apps/components/BookSelector.tsx
  lms/static/scripts/frontend_apps/components/ContentSelector.tsx
  lms/static/scripts/frontend_apps/components/ErrorDisplay.tsx
  lms/static/scripts/frontend_apps/components/FilePickerApp.tsx
  lms/static/scripts/frontend_apps/components/GradingControls.tsx
  lms/static/scripts/frontend_apps/components/GroupConfigSelector.tsx
  lms/static/scripts/frontend_apps/components/InstructorToolbar.tsx
  lms/static/scripts/frontend_apps/components/LMSFilePicker.tsx
  lms/static/scripts/frontend_apps/components/SubmitGradeForm.tsx
  lms/static/scripts/frontend_apps/components/URLPicker.tsx
  lms/static/scripts/frontend_apps/components/ValidationMessage.js
  lms/static/scripts/frontend_apps/components/test/AuthButton-test.js
  lms/static/scripts/frontend_apps/components/test/BasicLtiLaunchApp-test.js
  lms/static/scripts/frontend_apps/components/test/BookPicker-test.js
  lms/static/scripts/frontend_apps/components/test/ContentSelector-test.js
  lms/static/scripts/frontend_apps/components/test/ErrorDialogApp-test.js
  lms/static/scripts/frontend_apps/components/test/ErrorDisplay-test.js
  lms/static/scripts/frontend_apps/components/test/ErrorModal-test.js
  lms/static/scripts/frontend_apps/components/test/FileList-test.js
  lms/static/scripts/frontend_apps/components/test/FilePickerApp-test.js
  lms/static/scripts/frontend_apps/components/test/GradingControls-test.js
  lms/static/scripts/frontend_apps/components/test/OAuth2RedirectErrorApp-test.js
  lms/static/scripts/frontend_apps/components/test/StudentSelector-test.js
  lms/static/scripts/frontend_apps/components/test/URLPicker-test.js
  lms/static/scripts/frontend_apps/components/test/ValidationMessage-test.js
  lms/static/scripts/frontend_apps/icons.js
  lms/static/scripts/frontend_apps/index.js
  lms/static/scripts/frontend_apps/services/vitalsource.js
  lms/static/scripts/frontend_apps/utils/test/api-test.js
  lms/static/scripts/frontend_apps/utils/test/fetch-test.js
  lms/static/scripts/frontend_apps/utils/test/google-picker-client-test.js
  lms/static/scripts/postmessage_json_rpc/test/server-test.js
  lms/static/scripts/ui-playground/components/ErrorComponents.js
  lms/static/scripts/ui-playground/components/ToolbarPage.tsx
  lms/static/scripts/ui-playground/index.js
  package.json
  yarn.lock
Labels: Frontend

#5100 Simplify and consolidate `InstructorToolbar` and grading control layout
  lms/static/scripts/frontend_apps/components/GradingControls.tsx
  lms/static/scripts/frontend_apps/components/InstructorToolbar.tsx
  lms/static/scripts/frontend_apps/components/StudentSelector.tsx
  lms/static/scripts/frontend_apps/components/SubmitGradeForm.tsx
  lms/static/scripts/frontend_apps/components/ValidationMessage.js
Labels: Frontend

#5119 Fix import ordering in `ErrorModal`
  lms/static/scripts/frontend_apps/components/ErrorModal.tsx
Labels: Frontend

#5121 Update shared components in `JSTORPicker`
  lms/static/scripts/frontend_apps/components/JSTORPicker.tsx
  lms/static/scripts/frontend_apps/components/test/JSTORPicker-test.js
Labels: Frontend

#5122 Convert errors pattern-library page to TSX, update shared components
  lms/static/scripts/ui-playground/components/ErrorComponents.tsx
Labels: Frontend
