Repository hypothesis/lms, pull requests merged in 2023-04, with the labels that each got.

#5239 Remove the un-used Gateway API
  bin/gateway/config/gateway_qa_example.json
  bin/gateway/config/h_calls_dev.json
  bin/gateway/config/h_calls_prod.json
  bin/gateway/config/h_calls_qa.json
  bin/gateway/h_call.py
  bin/gateway/oauth_call.py
  bin/gateway/requirements.txt
  docs/gateway/01_overview.md
  docs/gateway/02_api_spec.md
  docs/gateway/03_authentication.md
  docs/gateway/04_testing_tools.md
  docs/gateway/schema.json
  lms/routes.py
  lms/security.py
  lms/views/api/gateway.py
  tests/functional/api/gateway_test.py
  tests/functional/oauth1.py
  tests/unit/lms/security_test.py
  tests/unit/lms/views/api/gateway_test.py
Labels: Tech debt

#5238 Remove `is_canvas` from the `LTILaunchResource`
  lms/resources/lti_launch.py
  lms/views/lti/basic_launch.py
  tests/unit/lms/resources/_js_config/__init___test.py
  tests/unit/lms/resources/_js_config/file_picker_config_test.py
  tests/unit/lms/resources/lti_launch_test.py
  tests/unit/lms/views/lti/basic_launch_test.py
Labels: Tech debt

#5297 Update modal in `URLPicker` to use `ModalDialog`
  lms/static/scripts/frontend_apps/components/URLPicker.tsx
Labels: Accessibility, Frontend

#5298 Update modal in `JSTORPicker` to `ModalDialog`
  lms/static/scripts/frontend_apps/components/JSTORPicker.tsx
Labels: Accessibility, Frontend

#5299 Update `LMSFilePicker` to use `ModalDialog`
  lms/static/scripts/frontend_apps/components/LMSFilePicker.tsx
Labels: Accessibility, Frontend

#5300 Use `ModalDialog` in `ErrorModal`
  lms/static/scripts/frontend_apps/components/ErrorModal.tsx
  lms/static/scripts/frontend_apps/components/test/ErrorModal-test.js
Labels: Accessibility, Frontend

#5311 Remove the update to `users_sensitive` which is now a view
  lms/data_tasks/report/refresh/01_entities_refresh.sql
Labels: Bug

#5215 Update pattern-library sketches for edit-assignment workflow
  lms/static/scripts/ui-playground/components/EditAssignment.tsx
Labels: stale, Frontend
